@import 'tailwindcss';
@plugin 'daisyui';
@plugin '@tailwindcss/typography';

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Plus Jakarta Sans', serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@utility container {
  @apply mx-auto px-4;

  @variant 2xl {
    @apply max-w-[1400px];
  }
}
