@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin '@tailwindcss/typography';

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Plus Jakarta Sans', serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@theme inline {
  --animate-line-shadow: line-shadow 15s linear infinite;

  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

@utility container {
  @apply mx-auto px-4;

  @variant 2xl {
    @apply max-w-[1400px];
  }
}
