name: Deploy

env:
  PROJECT_NAME: buntal

on:
  push:
    branches: ['main', 'docs']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy
    defaults:
      run:
        working-directory: apps/web
    steps:
      # Build phase
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Build project
        run: bun run build

      # Deploy phase
      - name: Upload built files
        uses: appleboy/scp-action@v0.1.4
        with:
          source: './apps/web/.buntal/*'
          host: ${{ secrets.SSH_HOST }}
          target: ${{ secrets.SSH_TARGET }}
          username: ${{ secrets.SSH_USER }}
          strip_components: 3
          key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Restart pm2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: PROJECT_NAME
          script: pm2 delete $PROJECT_NAME; cd $PROJECT_NAME/apps/web && pm2 start "bun start" --name $PROJECT_NAME && pm2 save
